* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

p {
  opacity: 60%;
}

body {
  /* background-color: #1A0B2E; */
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-light {
  background-color: #230e3d;
}

.bg-dark {
  background-color: #1a0b2e;
}

.section-pd {
  padding: 120px 0px;
}

/* nav style start */
.header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 24px 0px;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.subs-btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 12px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  border-radius: 18px;
}

.subs-btn i {
  margin-left: 4px;
  vertical-align: middle;
}

.subs-btn:hover i {
  transform: translateX(4px);
  transition: 0.3s;
}

.menu>li,
.hamberger {
  color: #fff;
}

.hamberger {
  display: none;
}

.spotify-btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 12px 16px;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  border: none;
  border-radius: 18px;
  align-items: center;
}

.podcast-card {
  display: flex;
  background-color: #0b022d;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 760px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 101px 0px;
}

.center-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 180px;
  height: 180px;
  background-image: url("./assets/hero-circle.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.mic-icon {
  width: 70px;
  height: auto;
  z-index: 2;
}

.new-badge {
  position: absolute;
  top: 0px;
  right: 15px;
  background: #00FF88;
  color: #000;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
  z-index: 3;
}

.content-section h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.content-section p {
  color: #b0b0b0;
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 30px auto;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.spotify-btn {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: white;
}

.subscribe-btn {
  border: 1px solid #00ffaa;
  color: #00ffaa;
}

.subscribe-btn:hover {
  border: 1px solid #fb09b4;
}

.spotify-btn:hover,
.subs-btn:hover {
  background: linear-gradient(90deg, #9100f8 0%, #fb09b4 51%, #f7e93f 100%);
  cursor: pointer;
}

.about-title:hover {
  color: linear-gradient(90deg, #9100f8 0%, #fb09b4 51%, #f7e93f 100%);
}

.header>img:hover {
  cursor: pointer;
}

.host-social li img:hover {
  border: 1px solid #fb09b4;
}

/* .hero-button{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.hero-circle-img{
    position: absolute;
}
.hero-micro-img{
    position: absolute;
} */

/* about css style */

#about {
  padding: 50px 0px;
  text-align: center;
}

.about-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  opacity: 80%;
  align-items: center;
}

.about-details {
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* #counter-card{
    padding: 50px 0px;
} */

.stat-card {
  align-items: center;
}

.stat-number {
  color: #00ff88;
  font-size: 48px;
  font-weight: 700;
  padding: 10px;
}

.stat-number i.fa-solid.fa-star {
  font-size: 30px;
  color: #00ff88;
}

.stat-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.counter-details {
  padding: 50px 0px;
  display: flex;
  gap: 80px;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid #434343;
}

.hide {
  display: none;
}

/* choose */
#choose h1,
#feature-and-meet h1 {
  font-size: 48px;
  font-weight: 70px;
  padding-bottom: 40px;
  text-align: center;
}

.choose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

/* .card-audio, .card-mobile, .card-global, .card-exclusive, .card-resources{
    border: 1px solid red;
} */

.card-audio {
  grid-row: span 2;
}

.card-mobile,
.card-global,
.card-exclusive {
  grid-column: span 2;
}

.every-card {
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(53, 17, 101, 0.4);
}

.every-card>p {
  opacity: 60%;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  padding-top: 16px;
}

.every-card.card-audio img {
  padding: 80px 0px 16px 0px;
}

.every-card.card-audio p {
  padding: 0px 0px 80px 0px;
}

.every-card img {
  padding: 0px 0px 16px 0px;
}

/* feature card */
.feature-card-detail {
  display: flex;
  gap: 30px;
}

.feature-info {
  padding: 24px;
  background-color: #250d44;
  border-radius: 0px 0px 18px 15px;
}

.feature-info h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.feature-info p {
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
  padding-bottom: 16px;
}

.min-count {
  color: #00ff88;
}

i.fa-solid.fa-clock {
  color: #00ff88;
  margin-right: 5px;
}

/* meeet host  */
.padding-t {
  padding-top: 120px;
}

.meet-info {
  display: flex;
  gap: 24px;
  padding: 48px;
  border-radius: 18px;
}

.hoster-name {
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: 500px;
}

.host-speach {
  font-size: 16px;
  line-height: 24px;
  opacity: 60%;
  padding-bottom: 16px;
}

.host-social {
  display: flex;
  gap: 8px;
  list-style: none;
}

.host-social li img {
  border: 1px solid #533c72;
  padding: 6px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#footer {
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 60px 0; */
  color: #fff;
}

.footer-section {
  text-align: center;
}

.footer-icon {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-icon .icon {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-section>img,
.footer-icon {
  margin-bottom: 32px;
}

.footer-icon .icon {
  color: #8d8c8c;
}

.feature-card-detail {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #1e133a;
  border-radius: 15px;
  overflow: hidden;
  width: 360px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feature-info {
  padding: 20px;
}

.feature-info h3 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

.feature-info p {
  color: #b1a7c7;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.min-count {
  color: #00ff88;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.fa-envelope:before {
  color: #06ffaa;
}

/* microphone hover */
.mic-icon:hover {
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

/* techwave text animation */
.techwave-animate {
  height: 50px;
  transition: transform 0.3s ease;
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #fff;
  }

  50% {
    transform: scale(1.05);
    color: #fb09b4;
  }

  100% {
    transform: scale(1);
    color: #f7e93f;
  }
}

.logo-animate:hover {
  animation-play-state: paused;
  cursor: pointer;
}

/* responsive code */
@media screen and (max-width: 576px) {
  .new-badge:hover {
    transform: rotate(360deg);
    transition: 2s;
  }

  .podcast-card {
    background-image: url("./assets/hero-mobile.png");
     min-height: 509px;
  }

  .feature-card {
    width: 91%;
  }

  .feature-card-detail {
    flex-direction: center;
  }

  .subscribe-btn:hover {
    transform: rotate(360deg);
    transition: 2s;
  }

  .section-pd {
    padding: 40px 0px;
  }

  .feature-card-detail {
    justify-content: center;
  }

  .padding-t {
    padding-top: 40px;
  }

  .meet-info {
    margin: 0px 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .meet-info img {
    width: 60%;
  }

  .host-social {
    justify-content: center;
  }

  .menu,
  .subs-btn {
    display: none;
  }

  .hamberger {
    display: inline;
  }

  .header {
    gap: 115px;
  }

  .subs-btn:hover {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 16px;
    background: none;
    border: 1px solid red;
    border-radius: 18px;
  }

  .footer-icon {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }

  #choose h1,
  #feature-and-meet h1 {
    font-size: 32px;
  }

  .feature-info {
    margin: 0px 0px;
  }

  .choose-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
    margin: 0px 20px;
  }

  /* .counter-details {
    flex-direction: column;
    gap: 40px;
  } */
  .counter-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 50px 0px;
  }

  .counter-details>div {
    flex: 0 0 calc(50% - 20px);
    min-width: 150px;
    text-align: center;
  }

  .about-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .every-card.card-audio img {
    padding: 0px 0px 16px 0px;
  }

  .every-card.card-audio p {
    padding: 0px 0px 16px 0px;
  }

  .podcast-card {
    padding: 0px 0px;
  }

  .about-details {
    padding: 0px 20px;
  }

  .content-section {
    padding: 0px 20px;
  }

  #choose h1,
  #feature-and-meet h1 {
    padding-bottom: 24px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .new-badge:hover {
    transform: rotate(360deg);
    transition: 2s;
  }

  .feature-card {
    width: 91%;
  }

  .feature-card-detail {
    flex-direction: center;
  }

  .subscribe-btn:hover {}

  .section-pd {
    padding: 40px 0px;
  }

  .feature-card-detail {
    justify-content: center;
  }

  .padding-t {
    padding-top: 40px;
  }

  .meet-info {
    margin: 0px 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .meet-info img {
    width: 60%;
  }

  .host-social {
    justify-content: center;
  }

  .menu,
  .subs-btn {
    display: none;
  }

  .hamberger {
    display: inline;
  }

  .header {
    gap: 115px;
  }

  .subs-btn:hover {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 16px;
    background: none;
    border: 1px solid red;
    border-radius: 18px;
  }

  .footer-icon {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }

  #choose h1,
  #feature-and-meet h1 {
    font-size: 32px;
  }

  .feature-info {
    margin: 0px 0px;
  }

  .choose-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
    margin: 0px 20px;
  }

  /* .counter-details {
    flex-direction: column;
    gap: 40px;
  } */
  .counter-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 50px 0px;
  }

  .counter-details>div {
    flex: 0 0 calc(50% - 20px);
    min-width: 150px;
    text-align: center;
  }

  .about-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .every-card.card-audio img {
    padding: 0px 0px 16px 0px;
  }

  .every-card.card-audio p {
    padding: 0px 0px 16px 0px;
  }

  .podcast-card {
    padding: 0px 0px;
  }

  .about-details {
    padding: 0px 20px;
  }

  .content-section {
    padding: 0px 20px;
  }

  #choose h1,
  #feature-and-meet h1 {
    padding-bottom: 24px;
  }
}