*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
.container{
    max-width: 1600px;
}
/* nav style start */
.header{    
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 24px 0px;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
.subs-btn{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 16px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%);
    border: none;
    border-radius: 18px;
}
.subs-btn i {
  margin-left: 4px; 
  vertical-align: middle; 
}
.subs-btn:hover i {
  transform: translateX(4px);
  transition: 0.3s;
}
.menu>li, .hamberger{
    color: #fff;
}  
.hamberger{
     display: none;
} 
.spotify-btn{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 16px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51% , #9100F8 100%);
    border: none;
    border-radius: 18px;
    align-items: center;
}
/* nav style end */





/* responsive code */

@media screen and (max-width:576px){
    .menu, 
    .subs-btn{
        display: none;
    }
    .hamberger{
        display: inline;
    } 
    .header {
        gap: 115px;
    }
}